<!-- <div class="jumbotron jumbotron-fluid">
    div class="container"
    <h1 class="display-4">About Us</h1>
    </div>
  </div>

  <section>
    <h1>Section Content</h1>
  </section>

    <div class="col-md-6" style="text-align:justify" ;>
      <p>
        Established in 2019 in Fishers, IN, Que'd was created by three Eleven Fifty Academy students.
        <br>
        Que'd is a line sitting app helping people make the most of their time. With over 1.2 million people in Marion
        and Hamilton county alone, lines can be long. Que'd Placers will wait in line so you don't have to! Whether
        it's Black Friday, sporting event tickets, or those hard-to-score restaurant reservations, hire a Placer
        todayto free up your time for the more important things in your life.
        <br>
        If you are interested in hiring a Placer or in becoming a Placer, you can contact us at (855) 925-1150. Our
        office is located at:
        <br>
        12175 Visionary Way, Fishers, IN 46038
      </p>
      <img src="../../../assets/images/LogoTransparent.png" class="img-responsive center-block" style="max-width:720px; height: 500px;" />
    </div> -->

<div class="container-fluid">
  <div class="banner">
    <img src="../../../assets/images/TornPaper_burned.png" alt="About Us" class="image-fluid">
    <div class="row">
      <div class="col-md-4" style="text-align:justify" ;>
        <div class="row" style="padding-top:4em"></div>
        <p>
          Established in 2019 in Fishers, IN, Que'd was created by three Eleven Fifty Academy students.
          <br>
          Que'd is a line sitting app helping people make the most of their time. With over 1.2 million people in
          Marion
          and Hamilton county alone, lines can be long. Que'd Placers will wait in line so you don't have to! Whether
          it's Black Friday, sporting event tickets, or those hard-to-score restaurant reservations, hire a Placer
          todayto free up your time for the more important things in your life.
          <br>
          If you are interested in hiring a Placer or in becoming a Placer, you can contact us at (855) 925-1150. Our
          office is located at:
          <br>
          12175 Visionary Way, Fishers, IN 46038
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <div>
          <img src="../../../assets/images/logo.png" class="img-responsive center-block" style="max-width:720px; height: 500px;" />
        </div>
      </div>
    </div>
  </div>
  
</div>