#about {
    position: relative;
    float: left;
    width: 700px;
    height: 400px;
    /* box-shadow: 2px 2px #886f68; */
}

.card-content {
    text-align: justify;
}

.card-img {
    -webkit-filter: drop-shadow(8px 8px 10px #886F68);
    filter: drop-shadow(8px 8px 10px #886F68);
    position: responsive;
    height: 325px; width: 150%;
}



/* .media {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 150px 3fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "img bd";
}

.media.media-flip {
    grid-template-columns: 3fr 150px;
    grid-template-areas: "bd img";
}

.media.img-flexie {
    grid-template-columns: minmax(150px, 1fr)3fr;
}

.media.media-flip.img-flexible {
    grid-template-columns: 3fr minmax(150px, 1fr);
}

/* nested*/
/* .media > .media {
    grid-column: 2 / -1 ;
    margin: 0; /*override*/
    /*margin-top: 1em; */
/*} */



















/* header {
    position: relative;
    height: 300px;
    background-image: linear-gradient(#274992, #B7BFEB);
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
  }
  
  h1 {
    margin: 0;
    padding: 100px 0;
    font: 72px "Roboto";
    text-align: center;
  }
  
  header h1 {
    color: #010000;
  } */

  