<div class="container">
  <div class="banner">
    <img class="contain" src="../../../assets/images/TornPaper_2.png">
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="row justify-cotent-start">
    <div class="col-md-8">
      <div id="about">
        <div class="card-content">
          <p>Established in 2019 in Fishers, IN, Que'd was created by three Eleven Fifty Academy students.</p>

          <p>Que'd is a line sitting app helping people make the most of their time. With over 1.2 million people in Marion and Hamilton county alone, lines can be long. Que'd Placers will wait in line so you don't have to! Whether it's Black Friday, sporting event tickets, or those hard-to-score restaurant reservations, hire a Placer today to free up your time for the more important things in your life.</p>

          <p>If you are interested in hiring a Placer or in becoming a Placer, you can contact us at (855) 925-1150. Our office is located at:</p>
          <p>12175 Visionary Way
            <br>Fishers, IN 46038
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
        <div id="logo">
          <div>
            <div>
              <img class="card-img" src="../../../assets/images/LogoTransparent.png" alt="card image" class="center">
            </div>
          </div>
        </div>
      </div> 
      <br>
      <br>
      <br>
      <br>
  </div>
</div>

