<div class="conta">
<mat-card>
<h1>Delete Your Info?</h1>
<h4>Deleted info cannot be retrieved.</h4>

<div class="txtformat" *ngIf="person">
  <div>
    <label for="">Q'R Id: </label>
    <span>{{person.personEntityId}}</span>
  </div>
  <div>
    <label for="">First Name: </label>
    <span>{{person.firstName}}</span>
  </div>
  <div>
    <label for="">Last Name: </label>
    <span>{{person.lastName}}</span>
  </div>
  <div>
    <label for="">Phone Number: </label>
    <span>{{person.phone}}</span>
  </div>
</div>
<br>
<br>

<button mat-raised-button color="warn" (click)="onDelete()">Delete</button> ||
<button mat-raised-button color="primary" routerLink="/person">Cancel</button>
</mat-card>
</div>