.footer{
    background-color: #3D2C2E;
    padding-top: -0.5rem !important;
}

#contactInfo{
    color: white;
    padding-left: 120px;
    font-family: 'Noto Serif', serif;
    /* font-weight: 300; */
}

#contactTitle{
    text-decoration: underline;
}

#copyright{
    color: white;
    font-family: 'Noto Serif', serif;
}