<div class="fContainer">
<div class="footer">
  <!-- Footer -->
  <footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-9 mt-md-0 mt-3" id="contactInfo">

          <!-- Content -->
          <h5 class="text-uppercase" id="contactTitle">Que'd</h5>
          <p>12175 Visionary Way, Fishers, IN 46038</p>
          <p>(855) 925-1150</p>

          <div class="socialMedia">
            <div class="Row" id="socialRow">
              <span class="facebook">
                <a href="https://www.facebook.com/">
                  <img src="assets\images\facebook.png" id="facebookImage">
                </a>
              </span>
              <span class="twitter">
                <a href="https://twitter.com/?lang=en">
                  <img src="assets\images\twitter.png" id="twitterImage">
                </a>
              </span>
              <span class="instagram">
                <a href="https://www.instagram.com/?hl=en">
                  <img src="assets\images\instagram.png" id="instagramImage">
                </a>
              </span>
            </div>
          </div>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <!-- <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>

        </div> -->
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase" id="linkTitle">Similar Apps</h5>

            <ul class="list-unstyled">
              <li>
                <a href="https://www.uber.com/">Uber</a>
              </li>
              <li>
                <a href="https://www.lyft.com/">Lift</a>
              </li>
              <li>
                <a href="https://www.waze.com/">Waze</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <br>
      <!-- Footer Links -->
      <div class="storeButtons">
        <div class="Row" id="buttonRow">
          <span class="appleStore">
            <a href="https://www.apple.com/ios/app-store/">
              <img src="assets\images\applestore.png" id="appleIcon">
            </a>
          </span>
          <span class="androidStore">
            <a href="https://www.android.com/play/">
              <img src="assets\images\googleplay.png" id="androidIcon">
            </a>
          </span>
        </div>
      </div>
      <!-- Copyright -->
      <hr class="copyBreak">
      <div class="footer-copyright text-center py-3" id="copyright">© 2019 Copyright:
        <a href=""> Que'd Inc.</a>
      </div>
      <!-- Copyright -->
    </div>
  </footer>
  <!-- Footer -->
</div>
</div>