<!-- Footer -->
<footer class="page-footer font-small pt-4">

<!-- Footer Links -->
<div class="container-fluid text-center text-md-left">

          <!-- Grid row -->
          <div class="row text-center text-md-left mt-3 pb-3">
    
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Que'd</h6>
              <p> <img src="../../../assets/images/home_Lite20.png" icon="Home" class="mr-3">
                12175 Visionary Way
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fishers, IN 46038</p>
              <p> <img src="../../../assets/images/phone_Lite20.png" icon="Phone" class="mr-3">(855) 925-1150</p>
              <p> <img src="../../../assets/images/email_Lite20.png" icon="Email" class="mr-3">contactus@qued.com</p>
            </div>

            <!--Grid Column-->

            <hr class="w-100 clearfix d-md-none">

            <!--Grid Column-->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3" id="useful">
              <h6 class="text-uppercase mb-4 font-weight-bold">Useful Links</h6>
              <p><a href="www.uber.com">Uber</a></p>
              <p><a href="www.lyft.com">Lyft</a></p>
              <p><a href="www.waze.com">Waze</a> </p>
            </div>

            <!--Grid Column-->
            <hr class="w-100 clearfix d-md-none">

            <!--Grid Column-->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Download Que'd</h6>
              <p><a href="https://www.apple.com/ios/app-store/"><img src="../../../assets/images/Apple_Store.png" alt="Apple" class="mr-3" width="48" height="48"/></a></p>
              <p><a href="https:www.android.com/play/"><img src="../../../assets/images/Android.png" alt="Android" class="mr-3" width="48" height="48"/></a></p>
              <p><a href="https://www.google.com/play"><img src="../../../assets/images/Google_Play .png" alt="GooglePlay" class="mr-3" width="48" height="48"/></a></p>
            </div>
            <!--Grid Column-->
          </div>
          <!--Footer Links-->
          <hr>

          <!--Grid Row-->

          <div class="row d-flex align-items-center">

            <!--Grid column-->
            <div class="col-md-7 col-lg-8" id="copy">

              <!--Copyright-->
              <p class="text-center text-md-left">© 2019 Copyright:
                <a href="https://queuedapp.herokuapp.com"><strong>Que'd</strong></a>
              </p>

            </div>

            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-5 col-lg-4 ml-lg-o">

              <!--Social Buttons-->
              <div class="text-center text-md-center">
                <ul class="list-unstyled list-inline">
                  <li class="list-inlined-item">
                    <a href="www.facebook.com"><img src="../../../assets/images/FB_48.png" alt="Facebook" floating="true" width="48" height="48"/></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="www.twitter.com"><img src="../../../assets/images/Twitter_48.png" alt="Twitter" floating="true" width="48" height="48"/></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="www.instagram.com"><img src="../../../assets/images/Instagram_48.png" alt="Instagram" floating="true" width="48" height="48"/></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="www.linkedin.com"><img src="../../../assets/images/LinkedIn_48.png" alt="LinkedIn" floating="true" width="48" height="48"/></a>
                  </li>
                </ul>
              </div>

            </div>
              
            <!-- Grid column -->

            </div>  
            <!-- Grid row -->

          </div>
          <!--Footer Links-->
            
</footer>
<!--Footer-->  
          