<div class="header">
  <mat-toolbar class="head">
    <div class="headcontainer">
    <span class="imghead" routerLink="">
        <img src="./assets/images/queue-d_logo.jpg"
        style="max-height:50px;padding-top:5px" />
    </span>
    <button mat-raised-button class="nav-btn" routerLink="/events/create"  >Save Time</button>
    <button mat-raised-button class="nav-btn" routerLink="/events"  >Make Money</button>
    <button mat-raised-button class="nav-btn" routerLink="/about"  >About Us</button>
  </div>
    <span class="example-fill-remaining-space"></span>
    <button mat-raised-button class="nav-btn" routerLink="/login"   >Login</button>
    <button mat-raised-button class="nav-btn" routerLink="/register"  >Sign Up</button>
    <button mat-raised-button class="nav-btn" routerLink="/person"  >Account Info</button>
  </mat-toolbar>
</div>