<div class="header">
  <mat-toolbar class="head">
    <span class="imghead" routerLink="">
        <img src="./assets/images/logo.png"
        style="max-height:50px;padding-top:10px" />
    </span>
    <button mat-raised-button class="nav-btn" routerLink="/events"  >Request Q'R</button>
    <button mat-raised-button class="nav-btn" routerLink="/person"  >Become Q'R</button>
    <span class="example-fill-remaining-space"></span>
    <button mat-raised-button class="nav-btn" routerLink="/login"   >Login</button>
    <button mat-raised-button class="nav-btn" routerLink="/register"  >Sign Up</button>
  </mat-toolbar>
</div>