.imghead:focus{
    outline: 0;
}
.headcontainer{
    padding-left:2em;
}

.head{
    background-color: #3D2C2E;
}

.example-fill-remaining-space {
    flex: 1 1 auto;
}

.nav-btn {
    margin-right: 0.5em;
    background-color: #3D2C2E;
    color: #f1f1f1;
}

.nav-btn:hover{
    color:#5B6893;
    background-color: #f1f1f1;
}
