<div class="header">
  <mat-toolbar color="primary">
    <span>
        <img src="/src/assets/images/Q Logo.JPG"
        style="max-height:50px;padding-top:10px" />
    </span>
    <span class="example-fill-remaining-space"></span>
    <button mat-raised-button class="nav-btn" routerLink="/events"  >Events</button>
    <button mat-raised-button class="nav-btn" routerLink="/person"  >Personal Info</button>
    <button mat-raised-button class="nav-btn" routerLink="/register"  >Register</button>
    <button mat-raised-button class="nav-btn" routerLink="/login"   >Login</button>
  </mat-toolbar>
</div>