.imghead:focus{
    outline: 0;
}

.head{
    background-color: black;
}

.example-fill-remaining-space {
    flex: 1 1 auto;
}

.nav-btn {
    margin-right: 0.5em;
    background-color: black;
    color: #f1f1f1;
}

.nav-btn:hover{
    color:darkblue;
    background-color: #f1f1f1;
}