<h1>Edit Event</h1>
<hr>

<div *ngIf="event">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="editEventForm">
    <div>
      <div hidden>
        <mat-form-field>
          <input matInput placeholder="EventId" formControlName="EventId" type="EventId" required [value]="event.eventEntityID" />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput placeholder="Title" formControlName="Title" type="Title" [value]="event.eventTitle" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Information" formControlName="Information" type="Information" [value]="event.information" />
        </mat-form-field>
      </div>
    </div>
    <button mat-raised-button class="nav-btn" color="primary" type="submit">Save</button>
  </form>
</div>

<a mat-button routerLink="/events">Back to List</a>