<mat-card>
<h1>Personal Information</h1>
<a mat-raised-button color="primary" routerLink="/person/create">Add New</a>
<hr>

<div>
  <mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>
    
    <ng-container matColumnDef="personEntityId">
      <mat-header-cell *matHeaderCellDef class="matColumnSize">Q'R Id #</mat-header-cell>
      <mat-cell *matCellDef="let person"> {{person.personEntityId}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef class="matColumnSize">First Name</mat-header-cell>
      <mat-cell *matCellDef="let person"> {{person.firstName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef class="matColumnSize">Last Name</mat-header-cell>
      <mat-cell *matCellDef="let person"> {{person.lastName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef class="matColumnSize">Phone Number</mat-header-cell>
      <mat-cell *matCellDef="let person"> {{person.phone}}</mat-cell>
    </ng-container>
    
    <!-- <ng-container matColumnDef="details">
        <mat-header-cell *matHeaderCellDef class="matColumnSize"></mat-header-cell>
        <mat-cell *matCellDef="let person" routerLink="/person/detail/{{person.personEntityId}}">
          <i mat-icon class="material-icons">library_books</i>
        </mat-cell>
    </ng-container> -->

    <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let person">
            <button mat-raised-button class="nav-btn" routerLink="/person/edit/{{person.personEntityId}}">UPDATE</button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let person">
              <button mat-raised-button class="nav-btn" routerLink="/person/delete/{{person.personEntityId}}">DELETE</button>
          </mat-cell>
        </ng-container>
        
  </mat-table>
  </div>
  </mat-card>
  <div class=container-fluid>
    <div class=row>
      <div class=col-md-12>
        <h4>We value your privacy!</h4>
        <p>We will never share your personal information with advertisers or other third parties.</p>
      </div>
    </div>
  </div>