<div class="wrapper">
  <div class="col-md-12">
    <h1> Your Time, Your Way </h1>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.png"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">
        <h3>Your Time, Your Way</h3>
      </div>

      <div class="text-center">Create an Account</div>
      <br>
      <div class="text-center">
        <a mat-raised-button color="primary" routerLink="/register">Sign Up</a> &nbsp;&nbsp;&nbsp;&nbsp; <a mat-raised-button color="primary" routerLink="/login">Log In</a>
      </div>
      </div>
    </div>
  </div>