.headertxt{
    font-size: 80px;
    text-align:justify;
    padding-top:0em;
    padding-bottom:0em;
    font-family: 'Noto Serif', serif;
}

#btnstyle2:hover{
    background-color: blue !important;
    color: white !important;
}
#btnstyle:hover{
    background-color: white !important;
    color: black !important;
}

h4{
    font-family: 'Noto Serif', serif;
}