<div class="card2">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.png"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">
        <h3>Your Time, Your Way</h3>
      </div>

      <div class="text-center">Create an Account</div>
      <div class="text-center">
        <a routerLink="/register">Sign Up</a>
      </div>
      <div class="text-center">
        <a routerLink="/login">Log In</a>
      </div>
    </div>
  </div>
</div>