<h1>Details</h1>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-6" *ngIf="event">
      <mat-card class="container">
        <div hidden>
          <label for="">EventID:</label>
          <span> {{event.eventEntityID}}</span>
        </div>
        <div>
          <label for="">Event Title:</label>
          <span> {{event.eventTitle}}</span>
        </div>
        <div>
          <label for="">Type of Event:</label>
          <span> {{event.typeOfEvent}}</span>
        </div>
        <div>
          <label for="">Information:</label>
          <span> {{event.information}}</span>
        </div>
        <div>
          <label for="">Address/Location:</label>
          <span> {{event.location}}</span>
        </div>
        <div>
          <label for="">Time Start:</label>
          <span> {{event.startTime}}</span>
        </div>
        <div>
          <label for="">Payment:</label>
          <span> {{event.price}}</span>
        </div>
        <div>
          <label for="">Already Assigned:</label>
          <span> {{event.isAssigned}}</span>
        </div>
        <div hidden>
          <label for="">Paid?:</label>
          <span> {{event.isPaid}}</span>
        </div>
        <div hidden>
          <label for="">Completed?:</label>
          <span> {{event.isCompleted}}</span>
        </div>
      </mat-card>
    </div>
    <div class="col-md-6">
      <h2>Is this the Event that you would like to select?</h2>
        <div class="row">
    <div class="col-md-12">          
        <button class="col-md-6" mat-raised-button color="primary" routerLink="/events/edit/{{event.eventEntityID}}">Confirm</button>
        </div>
      </div>
      <div class="row">
        <p> </p>
      </div>
      <div class="row">
    <div class="col-md-12">
        <button class="col-md-6" mat-raised-button color="accent" routerLink="/events">Back</button>
        </div>
      </div>
    </div>

  </div>
</div>