<h1>Details</h1>

<hr>
<div *ngIf="event">
  <div>
    <label for="" id="eventNumber">EventID:</label>
    <span> {{event.eventEntityID}}</span>
  </div>
  <div>
    <label for="" id="titleName">Title:</label>
    <span> {{event.eventTitle}}</span>
  </div>
  <div>
    <label for="" id="infoBlock">Information:</label>
    <span> {{event.information}}</span>
  </div>
</div>

<button mat-button color="accent">Edit</button>
<button mat-button color="primary" routerLink="/events">Back to List</button>
