<h1>Create an Event.</h1>
<hr>

<form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="eventForm">
  <div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Title" formControlName="eventTitle" type="eventTitle" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Information" formControlName="information" type="information" required/>
      </mat-form-field>
    </div>
    <div>
        <mat-form-field>
          <input matInput placeholder="Date" formControlName="dateCreated" type="dateCreated" required/>
        </mat-form-field>
      </div>
  </div>
  <button mat-raised-button class="nav-btn" color="primary" type="submit">Create Event</button>
</form>

<a mat-button routerLink="/events">Back to Events List</a>