<h1>Save Your Time By Hiring A Placer</h1>
<div class="container-fluid">
  <div class="row">
  <div class="col-md-6">
  <h3>Enter information about the event that you'd like to hire a Placer for. The placer will then arrive at the specified location, at the start time, and wait for your arrival!</h3>
</div>
  <div class="col-md-6">

<form (ngSubmit)="onSubmit()" [formGroup]="eventForm">
  <div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Title" formControlName="eventTitle" type="eventTitle" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Event Type" formControlName="typeOfEvent" type="typeOfEvent" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Information" formControlName="information" type="information" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="location" type="location" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Start Time" formControlName="startTime" type="startTime" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Bounty Price" formControlName="price" type="number" />
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
    </div>
    <div hidden>
        <mat-checkbox formControlName="isAssigned" value="false">Assigned</mat-checkbox>
    </div>
    <div hidden>
        <mat-checkbox formControlName="isCompleted">Complete</mat-checkbox>
    </div>
    <div hidden>
        <mat-checkbox formControlName="isPaid">Paid</mat-checkbox>
    </div>
    <div hidden>
        <mat-checkbox formControlName="isExpired">Expired</mat-checkbox>
    </div>
    <!-- <div>
        <mat-form-field>
          <input matInput placeholder="Date" formControlName="dateCreated" type="dateCreated" required/>
        </mat-form-field>
      </div> -->
  </div>
  <button mat-raised-button class="nav-btn" color="primary" type="submit">Create Event</button>
</form>

<a mat-button routerLink="/events">Back to Events List</a>
</div>
</div>
</div>